 .sol {
	width: 100px;
	height: 100px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.techo {
	border-bottom: 100px solid black;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 200px;

}
.chimenea {
	width: 30px;
	height: 50px;
	background: pink;

}
.humo{
	width: 30px;
	height: 30px;
	background: gray;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	
}

.muralla{
	width: 300px;
	height: 200px;
	background: brown;
	
}
.puerta{
	width: 100px;
	height: 150px;
	background: gray;

}
.corazon {
    position: relative;
    width: 100px;
    height: 90px;
  
}
.corazon:before,
.corazon:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.corazon:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
.ventana {
	width: 100px;
	height: 100px;
	background: lightblue;
	
}
.pasto {
	width: 100%;
	height: 100px;
	background: green;
}